:root{
  --primary: #c4cbd2;
  --mb: 4rem;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: #26399d;
  padding-top: .5rem;
  padding-bottom: 0rem;
  border: 2px solid black;
}
.bar{
  color: #c4ddef;
  background-color: #c4ddef;
  width: 34vw;
  /* padding: 0 10rem; */
  padding-left: 24rem;
  padding-right: 3rem;
}

footer{
  color: #26399d;
  background-color: #26399d;
  margin-top: 50em;
  padding-top: 5em;
  padding-inline-end: 0em;
  margin-bottom: 0;
  border: 2px solid black;
} 
main{
  display: flex;
}

.left-column{
  width: 75vw;
  /* padding: 0 10rem; */
  padding-left: 26rem;
  padding-right: 6rem;
  
}

.right-column{
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 3rem;
  width: 25vw;
}

section h4.first-article-title{
  font-family: Arial, Helvetica, sans-serif;
  padding:.5rem;
  display: inline-block;
  margin-bottom: 0;
}

.first-article{
  margin-bottom: var(--mb);
}

.d-flex{
  display: flex;
}
